body {
  padding-top: 0px;
  background-color: #f5f5f5;
  font-weight: 200;
}

h1 {
  font-size: 300%;
  font-weight: 300;
}

h1 small {
  font-weight: 200;
}

.borderless {
  border: none;
}

.page-header {
  margin-top: 20px;
}

.date-picker {
  width: 250px;
  margin-bottom: 20px;
}

.date-picker div {
  margin-top: 8px; /* vertical-align arrows */
}

.date-picker a {
  color: #000;
}

.game-teams {
  width: 200px;
  height: 90px;
  margin-bottom: 20px;
  display: inline-block;
}

.game-rating {
  height: 20px;
}

.game-time span, .game-rating span {
  font-weight: inherit;
  font-size: 100%;
}

.game-slider {
  height: 20px; /* should always be the same as .game-rating's height */
}

.game-slider .noUiSlider {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.team {
  position: absolute;
  background-image: url(../img/logos.png);
  width: 90px;
  height: 90px;
  margin-top: 10px;
  margin-left: 10px;
}

.home { margin-left: 110px; }

.ana { background-position: 0px 0px; }
.bos { background-position: 0px -90px; }
.buf { background-position: 0px -180px; }
.car { background-position: 0px -270px; }
.cbj { background-position: 0px -360px; }
.cgy { background-position: 0px -450px; }
.chi { background-position: 0px -540px; }
.col { background-position: 0px -630px; }
.dal { background-position: 0px -720px; }
.det { background-position: 0px -810px; }
.edm { background-position: 0px -900px; }
.fla { background-position: 0px -990px; }
.lak { background-position: 0px -1080px; }
.min { background-position: 0px -1170px; }
.mtl { background-position: 0px -1260px; }
.njd { background-position: 0px -1350px; }
.nsh { background-position: 0px -1440px; }
.nyi { background-position: 0px -1530px; }
.nyr { background-position: 0px -1620px; }
.ott { background-position: 0px -1710px; }
.phi { background-position: 0px -1800px; }
.phx { background-position: 0px -1890px; }
.pit { background-position: 0px -1980px; }
.sjs { background-position: 0px -2070px; }
.stl { background-position: 0px -2160px; }
.tbl { background-position: 0px -2250px; }
.tor { background-position: 0px -2340px; }
.van { background-position: 0px -2430px; }
.wpg { background-position: 0px -2520px; }
.wsh { background-position: 0px -2610px; }
