/*
Stretchy Sprites by tobyj.net
Feel free to copy and reuse as you like
*/

.stretchy {
    display: block;
    float: left;
    position: relative;
    overflow: hidden;
    max-width: 90px;
}

.stretchy .spacer {
    width: 100%;
    height: auto;
}

.stretchy .sprite {
    position: absolute;
    top: 0;
    left: 0;
    max-width: none;
    max-height: 100%;
}

/*END stretchy sprites by tobyj.net*/

body {
  padding-top: 0px;
  background-color: #f5f5f5;
  font-weight: 200;
}

h1 {
  font-size: 300%;
  font-weight: 300;
}

h1 small {
  font-weight: 200;
}

.borderless {
  border: none;
}

.page-header {
  margin-top: 20px;
}

.date-picker {
  width: 250px;
  margin-bottom: 20px;
}

.date-picker div {
  margin-top: 8px; /* vertical-align arrows */
}

.date-picker a {
  color: #000;
}

.game-teams {
  width: 200px;
  height: 90px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.game-rating {
  height: 20px;
}

.game-time span, .game-rating span {
  font-weight: inherit;
  font-size: 100%;
}

.game-slider {
  height: 20px; /* should always be the same as .game-rating's height */
}

.game-slider .noUiSlider {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.team {
  display: inline-block;
  width: 90px;
}

.home {
  margin-left: 20px;
}

.sprite.ana { left: 0%; }
.sprite.bos { left: -100%; }
.sprite.buf { left: -200%; }
.sprite.car { left: -300%; }
.sprite.cbj { left: -400%; }
.sprite.cgy { left: -500%; }
.sprite.chi { left: -600%; }
.sprite.col { left: -700%; }
.sprite.dal { left: -800%; }
.sprite.det { left: -900%; }
.sprite.edm { left: -1000%; }
.sprite.fla { left: -1100%; }
.sprite.lak { left: -1200%; }
.sprite.min { left: -1300%; }
.sprite.mtl { left: -1400%; }
.sprite.njd { left: -1500%; }
.sprite.nsh { left: -1600%; }
.sprite.nyi { left: -1700%; }
.sprite.nyr { left: -1800%; }
.sprite.ott { left: -1900%; }
.sprite.phi { left: -2000%; }
.sprite.phx { left: -2100%; }
.sprite.pit { left: -2200%; }
.sprite.sjs { left: -2300%; }
.sprite.stl { left: -2400%; }
.sprite.tbl { left: -2500%; }
.sprite.tor { left: -2600%; }
.sprite.van { left: -2700%; }
.sprite.wpg { left: -2800%; }
.sprite.wsh { left: -2900%; }
