{% extends "layout.html" %}
{% block body %}
  <div class="center-block date-picker text-center h4">
    <div class="pull-left"><span class="glyphicon glyphicon-chevron-left"></span></div>
    <button type="button" class="btn btn-default">Today</button>
    <div class="pull-right"><span class="glyphicon glyphicon-chevron-right"></span></div>
  </div>
  <div class="row">
    {% for game in games %}
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="game well well-sm text-center" id="{{ game.gameid}}">
          <div class="row game-time">
            <div class="col-12">
              <span class="text-center">
                {{ game.est }}
              </span>
            </div>
          </div>
          <div class="row game-teams">
            <div class="col-12">
              <div class="team {{ game.away_team|lower }}"></div>
              <div class="team home {{ game.home_team|lower }}"></div>
            </div>
          </div>
          <div class="row game-rating">
            <div class="col-12">
              <span class="well well-sm text-center game-rating-content">
              </span>
            </div>
          </div>
          <div class="row game-slider hidden">
            <div class="col-12">
              <div class="noUiSlider"></div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
