<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <title>Is it worth watching? — crowdsourced NHL entertainment value</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style/jquery.nouislider.min.css') }}" />

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />

  <link rel="stylesheet" href="{{ url_for('static', filename='style/bootcards.stripped.css') }}" />

  <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}" />

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/jquery.nouislider.min.js') }}"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  <div class="container-fluid padded">
    <div class="page-header">
      <h1>Is the game worth watching? <small>crowdsourcing it in real time</small></h1>
    </div>

    {% block content %}{% endblock %}

    <div class="row">
      <div class="col-xs-12">
        Copyright 2014 Philippe Serhal.
        This site claims no affiliation to the National Hockey League nor to any of its teams.
      </div>
      <div class="col-xs-12">
        &nbsp;
      </div>
    </div>
  </div>
</body>
</html>
