<!doctype html>
<title>Is it worth watching? — crowdsourced NHL entertainment value</title>
<!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">-->
<div class="page">
  <h1>Is it worth watching?</h1>
  <div class="navigation">
    <a href="#">home</a> |
    <a href="#">how this works</a> |
    <a href="#">about</a>
  </div>
  <div class="body">
  {% block body %}{% endblock %}
  </div>
  <div class="footer">
    Copyright 2014 Philippe Serhal.
  </div>
</div>
